@require(path)
@require(title)
@require(galleries)
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Language" content="de">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width" initial-scale="1">

  <title>@{title}</title>

  <link rel="stylesheet" type="text/css" charset="utf-8" href="/allgemein/styles/2015index.css" />
</head>
<body>
<div id="title">
	<div>@title!e</div>
</div>
<div id="header">
	<div class="align-left">
		&nbsp;
	</div>
	<div class="align-right">
		&nbsp;
	</div>
	<div class="align-middle">
		&nbsp;
	</div>
</div>

<div id="footer">
</div>

<div id="content">
<ul id="gallery" class="catalog">

@for gallery in galleries:
@if gallery.albums:
<li>
<span class="index">@gallery.year!e</span><span class="image"><a href="@{path}@{gallery.name}/@{gallery.albums[0].name}"><img src="@{path}@{gallery.name}/p3.jpg" alt="" title="@{gallery.label}" border="0" width="150" height="100" /></a></span>
<div class="label">
    <div class="title">@gallery.label!e</div><div class="description">@gallery.albums[0].description!e</div><span class="date">@{gallery.date_str()!!e}</span>
@for album in gallery.albums:
    <div>
    @if album.label == 'p4':
        <a href="@{path}@{gallery.name}/@{album.name}">die Besten</a>
    @elif album.label == 'p3':
        <a href="@{path}@{gallery.name}/@{album.name}">die Auswahl</a>
    @elif album.label == 'p2':
        <a href="@{path}@{gallery.name}/@{album.name}">alle Bilder</a>
    @else:
        <a href="@{path}@{gallery.name}/@{album.name}">@{album.label}</a>
    @end
    </div>
@end
</div>
</li>
@end
@end

</ul>
</div>

</body>

</html>

